<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Contact</h1>
    <nav>
        <ul>
            <li><a href="/template/">Home</a></li>
            <li><a href="/template/about/">About</a></li>
            <li><a href="/template/contact/">Contact</a></li>
            <li><a href="/template/classification/">Classification</a></li>
        </ul>
    </nav>
</body>
</html>