<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body>
    <!-- Nav section start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/template/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/template/classification/">Classification</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Others
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/template/about/">About</a></li>
                  <li><a class="dropdown-item" href="/template/contact/">Contact</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <!-- Nav section end -->

    <!-- Start of deteksi -->

    <div class="container">
       
        <div class="row align-items-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Input Image</h4>
                    </div>
                    <div class="card-body">
                        <form action="/submit" method="post" enctype="multipart/form-data">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">File
                                    input</label>
                                </div>
                            <div class="col-12 col-md-9"><input type="file" id="file" name="file"
                                    class="form-control-file">
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3" style="margin-left: 15px;">
                                </div>
                                <button type="submit" class="btn btn-dark" value="Upload">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
          <div class="col">
            One of three columns
          </div>
      </div>
    </div>

    <!-- End of deteksi -->

    <div class="content mt-3">
        
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Classification Result</h4>
                </div>
                <div class="card-body text-center">
                    {% if predictionxception %}
                    <img src="{{img_path}}" alt="gambar prediksi" height="50%" width="50%"><br>
                    <h4> CNN add Model Xception</h4>
                    <!-- <h4> Confidence : <i> {{confidenceexception}} </i></h4><br> -->
                    <h4>Prediction : <i> {{predictionxception}} </i></h4><br>
                    {% endif %}
                    <h4>Prediction : <i> {{predictionxception}} </i></h4><br>
                    {% endif %}
                    {% if predictionmobilenet %}
<h4> CNN add Model mobilenet</h4>
<h4>Prediction : <i> {{predictionmobilenet}} </i></h4><br>
{% endif %}

{% if predictionnasnet %}
<h4> CNN add Model NASNetMobile</h4>
<h4>Prediction : <i> {{predictionnasnet}} </i></h4><br>
{% endif %}

{% if predictioncnn %}
<h4> CNN from Scratch</h4>
<h4>Prediction : <i> {{predictioncnn}} </i></h4><br>
{% endif %}

                    
                </div>
            </div>
        </div>  
    </body>
    </html>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>