<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Prediction History</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Prediction History</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Predicted Class</th>
                </tr>
            </thead>
            <tbody>
                {% for prediction in predictions %}
                    <tr>
                        <td>{{ prediction.filename }}</td>
                        <td>{{ prediction.predicted_class }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</body>
</html>
